@import '../foundations.scss';

.banner {
  min-height: 25rem;
  width: 100vw;
  background-color: gray;
}

.comment-card {
  max-width: 90rem;
  margin-top: 5rem;
  margin-inline: auto;
  padding: 3rem 8.5rem;
  border-radius: 3rem;
  border-top: 2px solid $bl-sys-color-primary-lower;
  border-left: 2px solid $bl-sys-color-primary-lower;
  background-color: $bl-sys-color-primary-lowest;
  @include drop-shadow();
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.comment-card__heading {
  color: $bl-sys-color-neutral-highest;
}

.comment-card__comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;

  .comment:nth-child(2) {
    align-self: flex-end;
  }
}

.comment__content {
  color: $bl-sys-color-neutral-higher;
}

.comment-author {
  color: $bl-sys-color-neutral-high;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}