@import '../foundations.scss';

.profile-picture-container {
  border-radius: 100%;
  overflow: hidden;
  transition: transform ease-in-out 100ms;
}

.profile-picture-container--upscale:hover {
  transform: scale(1.2);
}

.profile-picture-container--upscale:active {
  transform: scale(0.9);
}

.profile-picture-container--120 {
  height: 7.5rem;
  width: 7.5rem;

  .profile-picture {
    height: 7.5rem;
    width: 7.5rem;
  }
}

.profile-picture-container--64 {
  height: 4rem;
  width: 4rem;

  .profile-picture {
    height: 4rem;
    width: 4rem;
  }
}

.profile-picture-container--56 {
  height: 3.5rem;
  width: 3.5rem;

  .profile-picture {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.profile-picture-container--48 {
  height: 3rem;
  width: 3rem;

  .profile-picture {
    height: 3rem;
    width: 3rem;
  }
}

.profile-picture-container--40 {
  height: 2.5rem;
  width: 2.5rem;

  .profile-picture {
    height: 2.5rem;
    width: 2.5rem;
  }
}